@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Student Details</h2>

<h3>@Html.DisplayFor(model => model.StudentName)</h3>
<h3>@Html.DisplayFor(model => model.DateOfEnrollment)</h3>
@if(@Model.Courses.Count == 0)
{
  <p>This student has not signed up for any courses yet.</p>
}
else
{
  <h4>Courses this student is Enrolled in</h4>
  <ul>
    @foreach(var join in Model.Courses)
    {
      <li>@join.Course.CourseName</li>
      @using (Html.BeginForm("DeleteCourse", "Students"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" class="btn btn-default" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to Students", "Index")</p>
<p>@Html.ActionLink("Edit Student Details", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Add a new course to this student's records", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student Record", "Delete", new { id = Model.StudentId })</p>
