@{
  Layout = "_Layout";
}

@model Registrar.Models.Course

<h1>Add a new Course</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.CourseName)
  @Html.TextBoxFor(model => model.CourseName, new { required="required" })

  @Html.LabelFor(model => model.CourseNumber)
  @Html.TextBoxFor(model => model.CourseNumber, new { required="required" })

  <input type="submit" value="Add a Course" />
}

<p>@Html.ActionLink("Show a list of Courses", "Index")</p>